<clickhouse>
    <max_server_memory_usage_to_ram_ratio>0.9</max_server_memory_usage_to_ram_ratio>
    <max_concurrent_queries>10</max_concurrent_queries>
    <mark_cache_size>268435456</mark_cache_size>
    <uncompressed_cache_size>134217728</uncompressed_cache_size>
    <merge_tree>
        <max_bytes_to_merge_at_max_space_in_pool>2147483648</max_bytes_to_merge_at_max_space_in_pool>
    </merge_tree>
</clickhouse>
